<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Male-Fashion | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        a {
            text-decoration: none;
            
        }

        .status-checkboxes {
            margin-top: .5rem;

        }

        .status-checkboxes .form-check {
            display: flex;
            align-items: center;
            margin-bottom: 1rem;
        }

        .status-checkboxes .form-check-input {
            margin-top: 0;
            margin-right: 5px;
            /* Adjust spacing between checkbox and label */
        }

        .status-checkboxes .form-check-label {
            margin-bottom: 0;
        }
      

        .menu-itemmm {

            margin-bottom: 20px;
            padding-left: 21px
        }

        .menu-itemmm a {
            color: black;
            text-decoration: none;
            text-transform: capitalize;
            font-size: .9rem;
            font-family: 'Quicksand';
        }

        .menu-headinggg {
            font-size: .7rem;
            font-weight: bold;
            margin-bottom: 10px;
            color: rgba(127, 127, 127, 1);
            padding-left: 10px;
        }
         table td {
            padding: 24px;
        }
        tr{
            margin-top: 2rem;
        }
    </style>
</head>

<body>

    <%- include('../partials/nav.ejs') -%>
        <div class="bg-body-tertiary" style=" margin:0 auto; padding: 15px 15px;">
            
            <div class="row">
                <%- include('../partials/profileNav.ejs') -%>
                <!-- <div class="col-md-3" style="padding: 16px; margin-bottom: 12px;">
                    <div style="">
                        <div class="d-flex"
                            style="flex-wrap: wrap; background-color: #fff; box-shadow: 0 2px 4px 0 rgba(0,0,0,.08); padding: 16px; margin-bottom: 12px;">
                            <img src="/img/profileImage.jpg.png"
                                style="width: 50px; height: 50px; vertical-align: middle;" alt="">
                            <div style="display: flex; flex-grow: 1;">
                                <div
                                    style=" flex-grow: 1; padding-top: 10px;padding-left: 5px; padding-right: 40px; font-weight: 900;">
                                    Hello
                                </div>
                            </div>
                        </div>

                    </div>

                    <div style="">
                        <div class="div"
                            style=" border-radius: 2px; background-color: #fff; box-shadow: 0 2px 4px 0 rgba(0,0,0,.08);">
                            <div class="menu-headinggg" style="padding-top: 1rem;">General</div>

                            <div class="menu-itemmm"><a href="/addresses">Manage Address</a></div>


                            <div class="menu-itemmm"><a href="/my-order">MY ORDERS</a></div>


                            <div class="menu-itemmm"><a href="/wishlist">MY Wishlist</a></div>

                            <div class="menu-itemmm"><a href="/wallet">MY Wallet</a></div>


                            <div class="menu-headinggg">Legal</div>
                            <div class="menu-itemmm"><a href="">Terms of Use</a></div>

                            <div class="menu-itemmm"><a href="#">Privacy Policy</a></div>


                            <div class="menu-headinggg">Personal</div>
                            <div class="menu-itemmm"><a href="#">Report a Bug</a></div>

                            <div class="menu-itemmm " style="display: flex; padding-bottom: 1rem;">
                                <a href="">

                                    <svg width="24" height="24" class="" viewBox="0 0 24 24"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill="#2874F0" stroke-width="0.3" stroke="#2874F0"
                                            d="M13 3h-2v10h2V3zm4.83 2.17l-1.42 1.42C17.99 7.86 19 9.81 19 12c0 3.87-3.13 7-7 7s-7-3.13-7-7c0-2.19 1.01-4.14 2.58-5.42L6.17 5.17C4.23 6.82 3 9.26 3 12c0 4.97 4.03 9 9 9s9-4.03 9-9c0-2.74-1.23-5.18-3.17-6.83z">
                                        </path>
                                    </svg>
                                    <span style="font-weight: 600; padding-left: 10px;">Logout</span>


                                </a>


                            </div>
                        </div>


                    </div>
                </div> -->
                <div class="col-md-9">
                    <div class="d-flex flex-column">

                        <div class="div" style="width: 85%; background-color: #fff; ">
                            <div class="input-group " style="">
                                <input type="text" class="form-control" placeholder="Recipient's username"
                                    aria-label="Recipient's username" aria-describedby="button-addon2">
                                <button class="btn btn-dark" type="button" id="button-addon2">Search orders</button>
                            </div>
                        </div>

                        <div class="card-body mt-4">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Index</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Total</th>
                                            <th scope="col">Status</th>
                                            <th scope="col">Date</th>
                                            <th scope="col">Action</th>
                                        
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <%if(order) {%>
                                         <%order.forEach((item, i) => {%>
                                              
                                            <tr style="margin-bottom: 2rem;"> 
                                                <td style="padding: 24px;"><%= i + 1%></td>
                                                <td style="padding: 24px;"><b><%= item.user.name%></b></td>
                                                <td style="padding: 24px;"><%= item.user.name%></td>
                                                <td style="padding: 24px;"><%= item.totalAmount%></td>
                                                <td style="padding: 24px;"><span class="badge rounded-pill alert-warning"><%= item.status%></span></td>
                                                <% const formattedDate = item.date.toLocaleString('en-US', { weekday: 'short', month: 'short', day: 'numeric', year: 'numeric', hour: 'numeric', minute: 'numeric', second: 'numeric', hour12: true }); %>
                                                <td style="padding: 24px;"><%= formattedDate%></td>
                                                <td style="padding: 24px;">
                                                   <a href="/single-orderDetails?orderId=<%= item._id%>">More details</a>
                                                    <!-- dropdown //end -->
                                                </td>
                                               
                                            </tr>
    
    
    
                                         <%})%>
                                        
    
                                    <%} else {%>
                                        
    
    
                                    <%}%>
    
                                        
                                       
                                    </tbody>
                                </table>
                            </div>
                            <!-- table-responsive //end -->
                        </div>

                        

                    </div>

                </div>

                <!-- </div> -->
            </div>
        </div>
        <script src="js/jquery-3.3.1.min.js"></script>
        <!-- <script src="js/bootstrap.min.js"></script> -->
        <script src="js/jquery.nice-select.min.js"></script>
        <script src="js/jquery.nicescroll.min.js"></script>
        <script src="js/jquery.magnific-popup.min.js"></script>
        <script src="js/jquery.countdown.min.js"></script>
        <script src="js/jquery.slicknav.js"></script>
        <script src="js/mixitup.min.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/main.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
</body>

</html>

