<%- include('../layout/header.ejs') -%>

    <div class="wrapper">

        <div class="" style="margin-left: 4rem; margin-bottom: 2rem;">
            <img src="img/logo.png" alt="">
        </div>

        <!-- <h2></h2> -->
        <div class="text-center">
            <h6>Please enter the one-time password <br> to verify your account</h6>
            <div><span>A code has been sent to </span>
                <%= email %>
            </div>
        </div>
        <% const route=locals.user.verified ? '/otpLogin?email=' + encodeURIComponent(email) : '/otp?email=' + encodeURIComponent(email); %>

         <% console.log(route) %>

            <form action="<%= route %>" method="post">

                <div class="d-flex" id="inputs">
                    <input class="otp m-2 text-center form-control rounded py-4" type="text" name="otp1" placeholder=""
                        inputmode="numeric" maxlength="1" required>
                    <input class="otp m-2 text-center form-control rounded" type="text" name="otp2" placeholder=""
                        inputmode="numeric" maxlength="1" required>
                    <input class="otp m-2 text-center form-control rounded" type="text" name="otp3" placeholder=""
                        inputmode="numeric" maxlength="1" required>
                    <input class="otp m-2 text-center form-control rounded" type="text" name="otp4" placeholder=""
                        inputmode="numeric" maxlength="1" required>
                </div>

                <div class="input-box button">
                    <input type="Submit" value="Log in">
                </div>
                                               
                <div class="text pt-2" style="text-align: center; margin-top: 2rem;">     
                    <span id="timer" class="time"></span>
                    <a href="#" id="resend" style="color: rgb(48, 94, 150); margin: 5px;">Resend</a>
                </div>
                   
                <%if(messages.incorrect) {%>

                    <div class="text text-danger">
                        <span><%= messages.incorrect %></span>
                   </div>

                <%}%>

                <%if(messages.expired) {%>

                    <div class="text text-danger">
                        <span><%= messages.expired %></span>
                   </div>

                <%}%>
               

            </form>
    </div>


    <script src="js/user/otp.js"></script>

    <%- include('../layout/footer.ejs') -%>